services:
  situation-monitor:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: situation-monitor
    ports:
      - "3000:3000"
    env_file:
      - .env
    restart: always
    environment:
      - NODE_ENV=production
      - PORT=3000
